<mat-spinner *ngIf = "isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="news.length > 0 && !isLoading">
    <mat-expansion-panel *ngFor="let mynews of news">
        <mat-expansion-panel-header>
            {{mynews.category}}
        </mat-expansion-panel-header>
        <p>{{mynews.content}}</p>
        <mat-action-row *ngIf="userIsAuthenticated">
            <a mat-button color="primary" [routerLink]="['/edit', mynews.id]">EDIT</a>
            <button mat-button color = "warn" (click)="onDelete(mynews.id)">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="news.length <= 0">No News Yet !!!</p>
